.PartnerImage {
    padding: 5px !important;
    padding-top: 20px;
    border-radius: 50% !important;
    transition: 0.5s;
}

.PartnerImage:hover {
    padding: 5px !important;
    padding-top: 20px;
    border-radius: 20% !important;
    transition: 0.5s;
}

@media screen and (max-width: 1272px) {
    .PartnerImage {
        width: 160px !important;
    }
}

@media screen and (max-width: 990px) {
    .CommonPartner {
        display: none;
    }
}

@media screen and (min-width: 990px) {
    .CommonPartnermobile {
        display: none;
    }
}

.PartnerImageCard {
    max-width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.PartnerCard {
    background-image: radial-gradient(rgb(0, 195, 239), rgb(216, 216, 216), rgb(174, 174, 174));
    height: 210px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardds {
    border-radius: 50% !important;
    transition: 0.5s;
}

.cardds:hover {
    border-radius: 20% !important;
}

.PartnerCardmobile {
    background-image: radial-gradient(rgb(0, 195, 239), rgb(216, 216, 216), rgb(174, 174, 174));
    height: 210px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PartnerImagemobile {
    padding: 0px;
    margin: 0px;
    width: 300px !important;
}

.hdfcompain {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-image: radial-gradient(rgb(255, 255, 255), rgb(216, 216, 216), rgb(174, 174, 174));
    border-radius: 50%;
    margin-bottom: 0px;
    margin-top: 20px;
    box-shadow: 5px 10px 10px 10px;
}

.sinaqimtahan {
    width: 220px !important;
    height: 130px;
}

@media screen and (max-width: 1272px) {
    .sinaqimtahan {
        width: 160px !important;
        height: 100px;
    }
}


/* News */

.NewsHeader {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.NewsTab {
    font-size: 20px;
    /* margin-left: 85px !important;*/
    width: 218px;
    color: black;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width:1010px) {
    .NewsTab {
        width: 185px;
    }
}

@media screen and (max-width: 910px) {
    .NewsTab {
        width: 160px;
    }
}

@media screen and (max-width: 776px) {
    .NewsTab {
        width: 300px;
    }
}

.CommonNews {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSEZUQYPBOhAWV-rQ-u4cNWQ0RxJ9SHj-g9Q&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.newsimage {
    height: 200px !important;
}

.newscard {
    width: 310px !important;
    display: flex;
    margin-bottom: 15px;
}

.newscard:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comnewscard {
    /* margin-left: 50px !important; */
    justify-content: center !important;
}


/* Footer */

.Footer {
    display: flex;
}

@media screen and (max-width: 776px) {
    .Footer {
        display: block !important;
        text-align: center;
        padding: 5px;
        font-weight: bold;
    }
}

.Footertext {
    justify-content: center;
}

@media screen and (max-width: 776px) {
    .logofooter {
        justify-content: center;
    }
}

.footertext {
    color: black !important;
}

.footertext:hover {
    color: rgb(167, 176, 4) !important;
}

.footericon {
    border-radius: 50px !important;
}